In [23]:
import pandas as pd

# Load stream_table_1.csv
df1 = pd.read_csv(r'C:\Users\clint\Desktop\RER\_output\data\Remittance_3\stream_table_1.csv', encoding='utf-8', engine='python')

# Load stream_table_2_cleaned.csv
df2 = pd.read_csv(r'C:\Users\clint\Desktop\RER\_output\data\Remittance_3\stream_table_2_cleaned.csv', encoding='utf-8', engine='python')

# Display the first few rows of each dataframe
print(df1.head())
print(df2.head())

                                                   0                    1  \
0  Indicator:\tB\t-\tCentral\tBank\tremittance\ti...                  NaN
1                                   Sending\tcountry  Receive\tcou.. Date
2                                            Algeria              Senegal
3                                          Australia             Ethiopia
4                                                NaN                Kenya

        2                  3              4                             5
0     NaN                NaN            NaN                           NaN
1     NaN              Value           Unit                        Source
2  2021.0        0.183414825  USD\tmillions                         BCEAO
3  2020.0        13.59617511  USD\tmillions  National\tBank\tof\tEthiopia
4  2024.0  184,497.099695719  USD\tmillions      Central\tBank\tof\tKenya
               0               1                 2              3  \
0  South\tAfrica  Ethiopia\n2020       67.93372415  USD\tmillions
1            NaN     Kenya\n2024  24,095.095706679  USD\tmillions
2            NaN   Senegal\n2021      14.579840557  USD\tmillions
3            NaN    Uganda\n2022              28.7  USD\tmillions
4   South\tSudan  Ethiopia\n2020       11.33937986  USD\tmillions

                              4
0  National\tBank\tof\tEthiopia
1      Central\tBank\tof\tKenya
2                         BCEAO
3              Bank\tof\tUganda
4  National\tBank\tof\tEthiopia

In [24]:
df1

,0,1,2,3,4,5
0,Indicator:\tB\t-\tCentral\tBank\tremittance\ti...,NaN,NaN,NaN,NaN,NaN
1,Sending\tcountry,Receive\tcou.. Date,NaN,Value,Unit,Source
2,Algeria,Senegal,2021.0,0.183414825,USD\tmillions,BCEAO
3,Australia,Ethiopia,2020.0,13.59617511,USD\tmillions,National\tBank\tof\tEthiopia
4,NaN,Kenya,2024.0,"184,497.099695719",USD\tmillions,Central\tBank\tof\tKenya
...,...,...,...,...,...,...
85,NaN,Kenya,2024.0,"404,105.02454433",USD\tmillions,Central\tBank\tof\tKenya
86,NaN,Morocco,2020.0,532.442406,USD\tmillions,Bank\tAl-Maghrib
87,NaN,Uganda,2022.0,195.7,USD\tmillions,Bank\tof\tUganda
88,Somalia,Uganda,2022.0,30,USD\tmillions,Bank\tof\tUganda
89,NaN,Ethiopia,2020.0,67.93372415,USD\tmillions,NaN

In [25]:
#drop the first tow
df1 = df1.drop(index=0).reset_index(drop=True)
df1

,0,1,2,3,4,5
0,Sending\tcountry,Receive\tcou.. Date,NaN,Value,Unit,Source
1,Algeria,Senegal,2021.0,0.183414825,USD\tmillions,BCEAO
2,Australia,Ethiopia,2020.0,13.59617511,USD\tmillions,National\tBank\tof\tEthiopia
3,NaN,Kenya,2024.0,"184,497.099695719",USD\tmillions,Central\tBank\tof\tKenya
4,NaN,Uganda,2022.0,22,USD\tmillions,Bank\tof\tUganda
...,...,...,...,...,...,...
84,NaN,Kenya,2024.0,"404,105.02454433",USD\tmillions,Central\tBank\tof\tKenya
85,NaN,Morocco,2020.0,532.442406,USD\tmillions,Bank\tAl-Maghrib
86,NaN,Uganda,2022.0,195.7,USD\tmillions,Bank\tof\tUganda
87,Somalia,Uganda,2022.0,30,USD\tmillions,Bank\tof\tUganda
88,NaN,Ethiopia,2020.0,67.93372415,USD\tmillions,NaN

In [26]:
#make the column names from the second row
df1.columns = df1.iloc[0]
df1 = df1.drop(index=0).reset_index(drop=True)
df1

,Sending\tcountry,Receive\tcou.. Date,NaN,Value,Unit,Source
0,Algeria,Senegal,2021.0,0.183414825,USD\tmillions,BCEAO
1,Australia,Ethiopia,2020.0,13.59617511,USD\tmillions,National\tBank\tof\tEthiopia
2,NaN,Kenya,2024.0,"184,497.099695719",USD\tmillions,Central\tBank\tof\tKenya
3,NaN,Uganda,2022.0,22,USD\tmillions,Bank\tof\tUganda
4,Austria,Kenya,2024.0,"13,169.065145833",USD\tmillions,Central\tBank\tof\tKenya
...,...,...,...,...,...,...
83,NaN,Kenya,2024.0,"404,105.02454433",USD\tmillions,Central\tBank\tof\tKenya
84,NaN,Morocco,2020.0,532.442406,USD\tmillions,Bank\tAl-Maghrib
85,NaN,Uganda,2022.0,195.7,USD\tmillions,Bank\tof\tUganda
86,Somalia,Uganda,2022.0,30,USD\tmillions,Bank\tof\tUganda
87,NaN,Ethiopia,2020.0,67.93372415,USD\tmillions,NaN

In [27]:
# Rename columns
# Get current column names as a list
columns = df1.columns.tolist()
# rename the first column to "Sending Country"
if columns:
    columns[0] = "Sending Country"


# Update the second column (index 1) to 'Receiving Country'
if len(columns) > 1:
    columns[1] = 'Receiving Country'

# Update the third column (index 2) to 'Date'
if len(columns) > 2:
    columns[2] = 'Date'

# Assign the updated column names back to the dataframe
df1.columns = columns

# Display the updated dataframe
print("Updated column names:")
print(df1.columns.tolist())
print("\nDataFrame with updated columns:")
df1.head()

Updated column names:
['Sending Country', 'Receiving Country', 'Date', 'Value', 'Unit', 'Source']

DataFrame with updated columns:

,Sending Country,Receiving Country,Date,Value,Unit,Source
0,Algeria,Senegal,2021.0,0.183414825,USD\tmillions,BCEAO
1,Australia,Ethiopia,2020.0,13.59617511,USD\tmillions,National\tBank\tof\tEthiopia
2,NaN,Kenya,2024.0,"184,497.099695719",USD\tmillions,Central\tBank\tof\tKenya
3,NaN,Uganda,2022.0,22,USD\tmillions,Bank\tof\tUganda
4,Austria,Kenya,2024.0,"13,169.065145833",USD\tmillions,Central\tBank\tof\tKenya

In [28]:
df1

,Sending Country,Receiving Country,Date,Value,Unit,Source
0,Algeria,Senegal,2021.0,0.183414825,USD\tmillions,BCEAO
1,Australia,Ethiopia,2020.0,13.59617511,USD\tmillions,National\tBank\tof\tEthiopia
2,NaN,Kenya,2024.0,"184,497.099695719",USD\tmillions,Central\tBank\tof\tKenya
3,NaN,Uganda,2022.0,22,USD\tmillions,Bank\tof\tUganda
4,Austria,Kenya,2024.0,"13,169.065145833",USD\tmillions,Central\tBank\tof\tKenya
...,...,...,...,...,...,...
83,NaN,Kenya,2024.0,"404,105.02454433",USD\tmillions,Central\tBank\tof\tKenya
84,NaN,Morocco,2020.0,532.442406,USD\tmillions,Bank\tAl-Maghrib
85,NaN,Uganda,2022.0,195.7,USD\tmillions,Bank\tof\tUganda
86,Somalia,Uganda,2022.0,30,USD\tmillions,Bank\tof\tUganda
87,NaN,Ethiopia,2020.0,67.93372415,USD\tmillions,NaN

In [29]:
# Forward fill missing values - replace NaN with the value from the row above
print("Before forward fill:")
print(df1.head(10))
print("\nMissing values per column before forward fill:")
print(df1.isnull().sum())

# Apply forward fill to replace missing values using the newer ffill() method
df1_filled = df1.ffill()

print("\n" + "="*50)
print("After forward fill:")
print(df1_filled.head(10))
print("\nMissing values per column after forward fill:")
print(df1_filled.isnull().sum())

# Update df1 with the filled version
df1 = df1_filled

Before forward fill:
  Sending Country Receiving Country    Date              Value           Unit  \
0         Algeria           Senegal  2021.0        0.183414825  USD\tmillions
1       Australia          Ethiopia  2020.0        13.59617511  USD\tmillions
2             NaN             Kenya  2024.0  184,497.099695719  USD\tmillions
3             NaN            Uganda  2022.0                 22  USD\tmillions
4         Austria             Kenya  2024.0   13,169.065145833  USD\tmillions
5         Bahamas             Kenya  2024.0    1,453.632639905  USD\tmillions
6         Bahrain             Kenya  2024.0    5,004.769090469  USD\tmillions
7             NaN           Morocco  2020.0         30.3408085  USD\tmillions
8         Belgium             Kenya  2024.0   22,844.654997935  USD\tmillions
9             NaN           Morocco  2020.0         387.629403  USD\tmillions

                         Source
0                         BCEAO
1  National\tBank\tof\tEthiopia
2      Central\tBank\tof\tKenya
3              Bank\tof\tUganda
4      Central\tBank\tof\tKenya
5      Central\tBank\tof\tKenya
6      Central\tBank\tof\tKenya
7              Bank\tAl-Maghrib
8      Central\tBank\tof\tKenya
9              Bank\tAl-Maghrib

Missing values per column before forward fill:
Sending Country      38
Receiving Country     0
Date                  0
Value                 0
Unit                  0
Source                1
dtype: int64

==================================================
After forward fill:
  Sending Country Receiving Country    Date              Value           Unit  \
0         Algeria           Senegal  2021.0        0.183414825  USD\tmillions
1       Australia          Ethiopia  2020.0        13.59617511  USD\tmillions
2       Australia             Kenya  2024.0  184,497.099695719  USD\tmillions
3       Australia            Uganda  2022.0                 22  USD\tmillions
4         Austria             Kenya  2024.0   13,169.065145833  USD\tmillions
5         Bahamas             Kenya  2024.0    1,453.632639905  USD\tmillions
6         Bahrain             Kenya  2024.0    5,004.769090469  USD\tmillions
7         Bahrain           Morocco  2020.0         30.3408085  USD\tmillions
8         Belgium             Kenya  2024.0   22,844.654997935  USD\tmillions
9         Belgium           Morocco  2020.0         387.629403  USD\tmillions

                         Source
0                         BCEAO
1  National\tBank\tof\tEthiopia
2      Central\tBank\tof\tKenya
3              Bank\tof\tUganda
4      Central\tBank\tof\tKenya
5      Central\tBank\tof\tKenya
6      Central\tBank\tof\tKenya
7              Bank\tAl-Maghrib
8      Central\tBank\tof\tKenya
9              Bank\tAl-Maghrib

Missing values per column after forward fill:
Sending Country      0
Receiving Country    0
Date                 0
Value                0
Unit                 0
Source               0
dtype: int64

In [30]:
df1

,Sending Country,Receiving Country,Date,Value,Unit,Source
0,Algeria,Senegal,2021.0,0.183414825,USD\tmillions,BCEAO
1,Australia,Ethiopia,2020.0,13.59617511,USD\tmillions,National\tBank\tof\tEthiopia
2,Australia,Kenya,2024.0,"184,497.099695719",USD\tmillions,Central\tBank\tof\tKenya
3,Australia,Uganda,2022.0,22,USD\tmillions,Bank\tof\tUganda
4,Austria,Kenya,2024.0,"13,169.065145833",USD\tmillions,Central\tBank\tof\tKenya
...,...,...,...,...,...,...
83,Saudi\tArabia,Kenya,2024.0,"404,105.02454433",USD\tmillions,Central\tBank\tof\tKenya
84,Saudi\tArabia,Morocco,2020.0,532.442406,USD\tmillions,Bank\tAl-Maghrib
85,Saudi\tArabia,Uganda,2022.0,195.7,USD\tmillions,Bank\tof\tUganda
86,Somalia,Uganda,2022.0,30,USD\tmillions,Bank\tof\tUganda
87,Somalia,Ethiopia,2020.0,67.93372415,USD\tmillions,Bank\tof\tUganda

In [ ]:
# Save df1 as CSV file
df1.to_csv('10_8.csv', index=False, encoding='utf-8')
print("DataFrame saved as '10_8.csv'")
print(f"Shape of saved DataFrame: {df1.shape}")
print(f"Columns saved: {list(df1.columns)}")

DataFrame saved as '10_8.csv'
Shape of saved DataFrame: (88, 6)
Columns saved: ['Sending Country', 'Receiving Country', 'Date', 'Value', 'Unit', 'Source']

: