In [4]:
# Load the specified CSV file
import pandas as pd
df = pd.read_csv(r"C:\Users\Owner\Desktop\Devereux\data\estat_ert_bil_eur_a_en.csv\estat_ert_bil_eur_a_en.csv")
df

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,statinfo,Statistical information,unit,Unit of measure,currency,Currency,TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,AED,UAE dirham,2001,NaN,3.27810,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,AED,UAE dirham,2002,NaN,3.49425,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,AED,UAE dirham,2003,NaN,4.19886,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,AED,UAE dirham,2004,NaN,4.58488,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,AED,UAE dirham,2005,NaN,4.55976,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8021,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,ZMW,Zambian kwacha,2024,NaN,28.99595,NaN,NaN,NaN,NaN,NaN
8022,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,ZWL,Zimbabwe dollar,2019,NaN,18.79705,NaN,NaN,NaN,NaN,NaN
8023,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,ZWL,Zimbabwe dollar,2020,NaN,100.54865,NaN,NaN,NaN,NaN,NaN
8024,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,ZWL,Zimbabwe dollar,2021,NaN,123.02105,NaN,NaN,NaN,NaN,NaN
8025,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,ZWL,Zimbabwe dollar,2022,NaN,715.49550,NaN,NaN,NaN,NaN,NaN

In [5]:
# show me all unique entries in column TIME_PERIOD
df['TIME_PERIOD'].unique()

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023, 2024, 1995, 1996, 1997, 1998, 1999, 2000, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1976,
       1977, 1978, 1979, 1980, 1981, 1975, 1971, 1972, 1973, 1974])

In [7]:
#restrict only my TIME_PERIOD to 2000-2021
df = df[df['TIME_PERIOD'].between(2000, 2021)]
df['TIME_PERIOD'].unique()

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2000])

In [9]:
#name me all unique entries in currency
df['currency'].unique()

array(['AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG',
       'AZN', 'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND',
       'BOB', 'BRL', 'BSD', 'BTN', 'BWP', 'BYN', 'BZD', 'CAD', 'CDF',
       'CHF', 'CLP', 'CNY', 'COP', 'CRC', 'CUP', 'CVE', 'CZK', 'DJF',
       'DKK', 'DOP', 'DZD', 'EGP', 'ERN', 'ETB', 'FJD', 'FKP', 'GBP',
       'GEL', 'GHS', 'GIP', 'GMD', 'GNF', 'GTQ', 'GYD', 'HKD', 'HNL',
       'HTG', 'HUF', 'IDR', 'ILS', 'INR', 'IQD', 'IRR', 'ISK', 'JMD',
       'JOD', 'JPY', 'KES', 'KGS', 'KHR', 'KMF', 'KRW', 'KWD', 'KYD',
       'KZT', 'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LYD', 'MAD', 'MDL',
       'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRU', 'MUR', 'MVR', 'MWK',
       'MXN', 'MYR', 'MZN', 'NAD', 'NGN', 'NIO', 'NOK', 'NPR', 'NZD',
       'OMR', 'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG', 'QAR',
       'RON', 'RSD', 'RUB', 'RWF', 'SAR', 'SBD', 'SCR', 'SDG', 'SEK',
       'SGD', 'SHP', 'SRD', 'SSP', 'STN', 'SVC', 'SYP', 'SZL', 'THB',
       'TJS', 'TMT', 'TND', 'TOP', 'TRY', 'TTD', 'TWD', 'TZS', 'UAH',
       'UGX', 'USD', 'UYU', 'UZS', 'VES', 'VND', 'VUV', 'WST', 'XAF',
       'XCD', 'XOF', 'XPF', 'YER', 'ZAR', 'ZMW', 'ZWL'], dtype=object)

In [10]:
# fitler currency for only these BGN (Bulgaria)

# CZK (Czech Republic)

# DKK (Denmark)

# HUF (Hungary)

# PLN (Poland)

# RON (Romania)

# SEK (Sweden)
df = df[df['currency'].isin(['BGN', 'CZK', 'DKK', 'HUF', 'PLN', 'RON', 'SEK'])]
df

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,statinfo,Statistical information,unit,Unit of measure,currency,Currency,TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
354,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,BGN,Bulgarian lev,2000,NaN,1.9477,NaN,NaN,NaN,NaN,NaN
355,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,BGN,Bulgarian lev,2001,NaN,1.9482,NaN,NaN,NaN,NaN,NaN
356,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,BGN,Bulgarian lev,2002,NaN,1.9492,NaN,NaN,NaN,NaN,NaN
357,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,BGN,Bulgarian lev,2003,NaN,1.9490,NaN,NaN,NaN,NaN,NaN
358,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,AVG,Average,NAC,National currency,BGN,Bulgarian lev,2004,NaN,1.9533,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7201,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,SEK,Swedish krona,2017,NaN,9.8438,NaN,NaN,NaN,NaN,NaN
7202,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,SEK,Swedish krona,2018,NaN,10.2548,NaN,NaN,NaN,NaN,NaN
7203,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,SEK,Swedish krona,2019,NaN,10.4468,NaN,NaN,NaN,NaN,NaN
7204,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,SEK,Swedish krona,2020,NaN,10.0343,NaN,NaN,NaN,NaN,NaN
7205,dataflow,ESTAT:ERT_BIL_EUR_A(1.0),Euro/ECU exchange rates - annual data,A,Annual,END,Value at the end of the period,NAC,National currency,SEK,Swedish krona,2021,NaN,10.2503,NaN,NaN,NaN,NaN,NaN